@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Emilys+Candy&family=Fredericka+the+Great&family=Life+Savers:wght@400;700;800&family=Rakkas&family=Underdog&family=Unkempt:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Rye&family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

/* font-family: "Emilys Candy", cursive;
  font-family: "Fredericka the Great", cursive;
  font-family: "Life Savers", cursive;
  font-family: "Rakkas", cursive; */
/* font-family: "Underdog", cursive;
  font-family: "Unkempt", cursive; */

:root {
  --headerheight: 150px;
  --houseFirstLetter: "Germania One", cursive;
  --bodyFont: "Life Savers", cursive;
  --machineFont: "Special Elite", cursive;
  --houseColor1: #660d10;
  --houseColor2: #e19f27;
  --cardColor: rgb(255, 255, 225);
  --bodyBackground: rgb(58, 56, 55);
  --h1font: "Fredericka the Great", cursive;
  --headerZindex: 5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--bodyFont);
  letter-spacing: 2px;
  background-color: var(--bodyBackground);
  color: antiquewhite;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: var(--headerZindex);
  background-color: var(--bodyBackground);
}

header > * + * {
  margin-top: 1rem;
}

button {
  padding: 0.2rem 1rem;
  color: #201e19;
  background-color: burlywood;
  border-radius: 10px;
  font-family: var(--h1font);
  font-size: 1.1rem;
  box-shadow: none;
  border: solid 1px #201e19;
  cursor: pointer;
}

button:hover {
  color: burlywood;
  background-color: #201e19;
  border: solid 1px burlywood;
}

.filtersWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

select {
  padding: 0.2rem 1rem;
  border-radius: 10px;
}

.search-btn-wrapper {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#search-names {
  width: 30vw;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.filter-label {
  display: flex;
  flex-direction: column;
  width: 20%;
  font-size: 1.5rem;
}

main {
  margin-top: calc(var(--headerheight) + 2rem);
}

.logo {
  width: 100%;
  height: 30vh;
  background-image: url(../assets/hogwarts-crest.png);
  background-size: contain;

  background-repeat: no-repeat;
  background-position: center;
}

/* .logo img {
  width: 150px;
  margin-left: 50%;
  transform: translateX(-50%);
} */

/*-----------student list----------*/
.list-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-container h1 {
  width: 100%;
  font-family: var(--h1font);
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
  position: sticky;
  top: calc(var(--headerheight) - 9px);
  z-index: var(--headerZindex);
  background-color: var(--bodyBackground);
}

#student-list {
  margin-top: 1rem;
  width: 40%;
  list-style: none;
  padding: 0;
}

#student-list li {
  cursor: pointer;
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  transition: 0.3s;
  font-weight: bold;
}

#student-list li:hover {
  transform: scale(1.1);
}

#student-list > li + li {
  margin-top: 1rem;
}

li.gryffindor {
  background-color: #660d10;
  color: #e19f27;
}

li.hufflepuff {
  background-color: #201e19;
  color: #f99e30;
}

li.ravenclaw {
  background-color: #193755;
  color: #8e5223;
}

li.slytherin {
  background-color: #31733a;
  color: #cccccb;
}

.li-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  /* padding-right: 1rem; */
}

.li-wrapper p {
  margin: 0;
}

.mini-icon {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a7a7a725;
}
.mini-icon p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.mini-quidditch p {
  font-size: 0.8rem;
}

.mini-icon.active {
  color: #0653fa;
}

li.emptyList {
  pointer-events: none;
}
.emptyList h3 {
  font-family: var(--bodyFont);
  font-weight: 100;
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: 4px;
}
.emptyList h2 {
  font-size: 5rem;
  text-align: center;
}

/*--------------------------------*/

/*------modal student card------*/

#studentmodal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(82, 69, 82, 0.945);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  z-index: 6;
}

.studentcardwrapper {
  width: 50vw;
  max-width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 7;
}

.studentcardwrappersprit {
  background-color: var(--cardColor);
  /* transition: 0.8s;
  transform: rotateX(90deg) scale(0.4); */
}

.apear {
  transform-origin: bottom;
  animation-name: apear;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  box-shadow: 0 0 50px black;
}

.disapear {
  transform-origin: right;
  animation-name: apear;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-direction: reverse;
  box-shadow: 0 0 50px black;
}

@keyframes apear {
  0% {
    transform: rotateX(90deg) rotateY(100deg) scale(0.8);
    box-shadow: 0 0 0 black;
  }

  80% {
    transform: rotateX(0) rotateY(0) scale(1.02);
    box-shadow: 0 0 50px black;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px black;
  }
}

.bar {
  width: 100%;
  height: 15px;
  background-color: var(--houseColor1);
  position: relative;
}
.tab {
  width: 20%;
  height: 35px;
  position: absolute;
  top: -35px;
  right: 0;
  background-color: var(--houseColor1);
  border-radius: 8px 8px 0 0;
}

.studentcard {
  position: relative;
}

.infographies {
  display: flex;
  align-items: center;
  position: relative;
}

.cresthouseiconswrapper {
  padding: 1rem 2rem;
}

.crestnamewrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.crest {
  width: 100px;
  height: 100px;
  background-image: url(../assets/griffindor_crest_monoChrom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.housename h1 {
  font-family: "Bubblegum Sans", cursive;
  font-weight: 500;
  color: rgb(46, 45, 45);
  font-size: 3.5rem;
  margin: 0;
}

.housename .firstLetter {
  font-family: var(--houseFirstLetter);
  color: rgb(129, 35, 35);
  font-size: 5rem;
}

.iconswrapper {
  display: flex;
  gap: 5px;
}

.icon {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: saturate(0.15) opacity(0.5);
  transition: 0.3s;
  cursor: pointer;
}

.inquisitorial {
  background-image: none;
  pointer-events: none;
}

.quidditch {
  width: 80px;
  background-image: url(../assets/quidditch.png);
}

:is(.inquisitorial, .quidditch, .prefect):hover {
  transform: scale(1.08);
}

.prefect {
  background-image: url(../assets/prefect.png);
}

.expelled {
  background-image: url(../assets/stamp.png);
  filter: saturate(1);
}

.expelled:hover {
  background-image: url(../assets/expelled.png);
  filter: saturate(1);
}

.studentpic {
  width: 150px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../assets/students/undefined.png);
  position: absolute;
  right: 2rem;
  top: 60%;
}

.bardoublecolor {
  width: 100%;
  height: 10px;
  display: flex;
}

.rect {
  width: 25%;
  height: 100%;
  background-color: var(--houseColor1);
}
.color2 {
  background-color: var(--houseColor2);
}

.data {
  padding: 2rem;
  font-size: 1.3rem;
}

.data span {
  display: block;
  border-bottom: solid 1px black;
  width: 200px;
  min-height: 1.1rem;
  font-family: var(--machineFont);
  margin-top: 0.2rem;
  font-size: 1.2rem;
}

.data > p + p {
  margin-top: 1.5rem;
}

.bloodType {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bloodwrapper {
  pointer-events: none;
}

.bloodwrapper input[type="radio"] {
  position: relative;
  width: 20px;
  height: 20px;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.bloodwrapper input[type="radio"]::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: var(--cardColor);
  position: absolute;
  top: 0;
  left: 0;
  border: solid 1px black;
}

.bloodwrapper input[type="radio"]:checked:after {
  content: "X";
  font-size: 1.1rem;
  font-family: var(--machineFont);
  text-align: center;
  line-height: 1.4;
}

.expelledStamp.stamped {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../assets/expelled.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.7;
  pointer-events: none;
}

/*------modal student card ends------------*/

/*-------modal warning--------*/
.alert.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.699);
}

.smsboxwrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.smsbox {
  background-color: var(--cardColor);
  padding: 2rem;
  color: #201e19;
  border-radius: 20px;
  pointer-events: all;
}

.smsbox h1 {
  margin: 0;
  font-weight: 200;
  font-family: var(--h1font);
  text-align: center;
}

.smsbox p {
  font-size: 1.2rem;
  text-align: center;
}

.smsbox .info {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.smsbox img {
  width: 80px;
}

/*---------aside table-----------*/

aside {
  position: fixed;
  top: var(--headerheight);
  left: 2rem;
  z-index: var(--headerZindex);
}

aside h2 {
  font-family: roboto;
  font-family: "Life Savers", cursive;
  margin-top: 2rem;
  font-weight: lighter;
}

th,
td {
  border: 1px solid antiquewhite;
  padding: 5px;
  font-family: roboto;
  font-family: "Life Savers", cursive;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}
td {
  text-align: center;
}

table.symbols td:first-child {
  font-size: 1.2rem;
  letter-spacing: normal;
}

/*----footer---*/

footer {
  width: 100%;
  height: 20vh;
}

/*------------------*/
.blackscreen.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  /* background-color: #000000; */
  opacity: 0;
  animation: blinck;
  animation-iteration-count: 7;
  animation-duration: 0.1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes blinck {
  0% {
    background-color: #000;
    background-image: url(../assets/skul.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
  }
  100% {
    background-color: #f7f7f7;
    background-position: center;
    opacity: 0;
  }
}
